
###> symfony/framework-bundle ###
mysneakers/.env.local
mysneakers/.env.local.php
mysneakers/.env.*.local
mysneakers/config/secrets/prod/prod.decrypt.private.php
mysneakers/public/bundles/
mysneakers/var/
mysneakers/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
mysneakers/phpunit.xml
.phpunit.result.cache
mysneakers/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
mysneakers/phpunit.xml
###< symfony/phpunit-bridge ###
